.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    align-items: unset;
}

.navigation {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    max-width: 30%;
    min-width: 30%;
}