.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.logo {
    height: 1.5em;
    padding: .5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}