
.standard-node {
    min-width: 93px;
    min-height: 82px;
    max-width: 93px;
    max-height: 82px;
}

/*noinspection CssUnusedSymbol*/
#svg-container {
    min-width: 73px;
    min-height: 82px;
    max-width: 93px;
    max-height: 82px;
}